.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  gap: 10px;
}

.priceDescriptionBox {
  padding: 15px;
  box-shadow: var(--shadow-1);
  border-radius: var(--border-radius);
}

.optionsDiv {
  display: flex;
  align-items: center;
  gap: 3px;
}

.priceDescriptionBoxSpace {
  width: 100%;
}

.checkbox {
  margin-top: 5px;
}
