.container {
  padding-left: 15px;
  padding-right: 15px;
}

.breadcrumb {
  margin: 10px 20px;
  font-size: 14px;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--big-margin);
  width: 100vw;
  height: 100vh;
}

.contentBox {
  width: 350px;
  /* height: 500px; */
  padding: 20px;
  box-shadow: var(--shadow-1);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  text-align: center;
}

.contentBox p {
  font-size: 16px;
  margin-top: 20px;
}

.radio {
  width: 80%;
}

.radioItem {
  width: 50%;
}

.paragraph {
  width: 350px;
  margin: var(--big-margin);
  text-align: center;
}

.paragraphLink {
  text-decoration: underline;
}

.paragraphLink:hover {
  color: var(--primary-color);
}
