.container {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 15px;
  gap: 10px;
}

.title {
}

.flexContainer {
  height: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.flexContainer p {
  cursor: pointer;
}

.flexContainer p:hover {
  color: rgb(240, 35, 35);
}

.input {
  padding: 15px;
  box-shadow: var(--shadow-1);
  border-radius: var(--border-radius);
}
