.container {
  padding-left: 15px;
  padding-right: 15px;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--big-margin);
  width: 100vw;
  height: 100vh;
}

.contentBox {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contentBoxH2 {
  align-self: center;
  transform: translateX(-6px);
  margin-top: 5px;
}
