.container {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 15px;
  gap: 10px;
}

.photoContainer {
  padding: 15px;
  box-shadow: var(--shadow-1);
  border-radius: var(--border-radius);
}
