.container {
  width: 1300px;
  /* height: 100vh; */
  display: flex;
  margin: 0 auto;
  /* TODO: HEIGHT SHOULD CHANGE LATER */
  padding-left: 15px;
  padding-right: 15px;
}

.sectionLeft {
  max-width: 1000px;
}

.sectionRight {
  width: 30%;
  background-color: #fff6f6;
}

/* SCREENS LESS THAN 1199px */
@media (max-width: 1199px) {
  .container {
    display: flex;
    justify-content: center;
    width: unset;
  }
  .sectionRight {
    display: none;
  }
}
